.whoami-developer-container {
  background-color: #263238;
  color: #89ddff;
  font-family: "Menlo", "Inconsolata", monospace;
  font-size: $text-small;
}

.purple { color: #c792ea; }
.yellow { color: #ffcb6b; }
.green { color: #c3e88d; }
.red { color: #ff5370; }
.blue { color: #82aaff; }
.white { color: #d2dbf1; }