.whoami-developer-container {
  font-family: "Menlo", "Inconsolata", monospace;
  padding: 50px 15px 20px 15px;
  background-color: #263238;
  font-size: $text-small;
  overflow-y: scroll;
  position: absolute;
  line-height: 175%;
  color: #89ddff;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  .pt-triggers {
    padding: 13px 15px 2px 15px;
    background-color: #e2e2e2;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    li {
      height: 15px;
      width: 15px;
      background-color: #ff5f58;
      border-radius: 50%;
      position: relative;

      &:before {
        content: "";
        height: 15px;
        width: 15px;
        background-color: #ffbd2e;
        border-radius: 50%;
        position: absolute;
        right: -25px;
      }
      &:after {
        content: "";
        height: 15px;
        width: 15px;
        background-color: #28c941;
        border-radius: 50%;
        position: absolute;
        right: -50px;
      }
    }
  }
}

.indent {
  padding-left: 10px;
  border-left: 1px solid #34454d;
}

.highlight{ background: #1b252a; }

.purple { color: #c792ea; }
.yellow { color: #ffcb6b; }
.green { color: #c3e88d; }
.red { color: #ff5370; }
.blue { color: #82aaff; }
.white { color: #d2dbf1; }
.orange { color: #f78c6c; }